
@use"paleta.scss"; //fichero de la paleta de colores
//colores para fondo
.fondo{

    &-chocolate{
        background-color: paleta.$chocolate;
      }
      
      &-magenta{
        background-color:paleta.$magenta;
      }
      &-negro{
        background-color:paleta.$negro;
      }

      &-rojo{
        background-color:paleta.$rojo;
      }

      &-amarillo{
        background-color:paleta.$amarillo;
      }
      &-verde{
        background-color:paleta.$verde;
      }
      &-gris{
        background-color:paleta.$gris;
      }
      &-celeste{
        background-color:paleta.$celeste;
      }
      &-blanco{
        background-color:paleta.$blanco;
      }
      &-rosa{
        background-color:paleta.$rosa;
      }

      &-degrada{
        background-color:paleta.$degrada;
      }
      &-paleta1{
        background-color: paleta.$paleta1;
      }
      &-paleta2{
        background-color: paleta.$paleta2;
      }
      &-paleta3{
        background-color: paleta.$paleta3;
      }
      &-paleta4{
        background-color: paleta.$paleta4;
      }
      &-paleta5{
        background-color: paleta.$paleta5;
      }
      &-paleta6{
        background-color: paleta.$paleta6;
      }
      &-paleta7{
        background-color: paleta.$paleta7;
      }




}

