
//colores
$azul:blue;
$celeste: #709fd1;
$gris: #6c757d;
$verde: #28a745;
$rojo:red;
$negro:black;
$chocolate:chocolate;
$magenta:magenta;
$amarillo:yellow;
$blanco:white;
$rosa:rgb(190, 155, 155);
$degrada:rgb(230, 223, 231);

