
//colores
$azul:blue;
$celeste: #709fd1;
$gris: #6c757d;
$verde: #28a745;
$rojo:red;
$negro:black;
$chocolate:chocolate;
$magenta:magenta;
$amarillo:yellow;
$blanco:white;
$rosa:rgb(190, 155, 155);
$degrada:rgb(230, 223, 231);
$paleta1: #863A6F;
$paleta2: #975C8D;
$paleta3: #D989B5;
$paleta4: #FFADBC;
$paleta5: #a8e6ce;
$paleta6: #301860;
$paleta7: #e5ddcb;